#pre_header{
	width: 360px;
	height: 60px;
	margin: 0px auto;
	top: 10px;
}

#pre_topOutArea{
	width: 360px;
	height: 20px;
	margin: 0px auto;
	top: 15px;
}

#pre_topInArea{
	width: 360px;
	height: 20px;
	margin: 0px auto;
	top: 20px;
}

#pre_mainCol{
	width: 360px;
	height: 200px;
	margin: 0px auto;
	top: 25px;
}

#pre_sidebar1{
	display: none;
}

#pre_sidebar2{
	display: none;
}

#pre_bottomInArea{
	width: 360px;
	height: 20px;
	margin: 0px auto;
	top: 30px;
}

#pre_footer1{
	width: 360px;
	height: 20px;
	margin: 0px auto;
	top: 35px;
}

#pre_footer2{
	width: 360px;
	height: 20px;
	margin: 0px auto;
	top: 40px;
}
