/*
LAYOUT: Two-Column (Left)
DESCRIPTION: Two-column fluid layout with one sidebars left of content
*/

#container {
	float: right;
	margin: 0 0 0 -200px;
	width: 100%;
}
#content {
	margin: 0 0 0 200px;
}
#sidebar1, #sidebar2 {
	float: left;
	overflow: hidden;
	width: 180px;
}
#sidebar2 {
	clear: left;
}
#footer {
	clear: both;
	width: 100%;
}
#topInWidgetArea{
	margin: 0 0 0 200px;
}
#bottomInWidgetArea{
	margin: 0 0 0 200px;
}